.guest {
    width: 200px;
    padding: auto;
    margin: auto;
    margin-top: 20px;

}



.title {
    margin-left: 5%;
    margin-top: 10px;
}

.guest img {
    border-radius: 50%;
    height: 200px;

}

.gcontent {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.info {
    margin-top: 10px;
    display: flex;

    margin-left: 25%;
    margin-right: 25%;
}

.profile {
    background: black;
    color: white;
}

@media only screen and (max-width: 700px){
    .info {
        margin-top: 10px;
        display: flex;
    
        margin-left: 20%;
        margin-right: 20%;
    }


    
}