.card {
    width: 400px;

}


.card a {

    margin: auto;
}

.col-sm-6 {
    margin: auto;
    margin-top: 30px;
    width: 400px;
    display: flex;
    align-items: center;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
}